/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ================================================== */
body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4; }

h2 {
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: .5em; }

a {
  text-decoration: none; }

.fpo {
  border: 1px dotted #cccccc;
  margin: 2em auto;
  max-width: 1000px;
  padding: 2em;
  width: 75%; }

.full-wrap {
  width: 100%; }

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 75%; }

.center {
  text-align: center; }

/* clearfix */
.cf:before, .cf:after {
  content: "";
  display: table; }
.cf:after {
  clear: both; }

/* for IE6/7 */
.cf {
  *zoom: 1; }

/* ================================================== */
nav {
  background: red;
  font-size: .85em; }
  nav li {
    float: left;
    padding: 0.5em 1em; }

/* ================================================== */
button {
  background-image: -moz-linear-gradient(top, #ff7d66 0, #ff7d66 50%, tomato 51%, tomato 100%);
  background-image: -webkit-linear-gradient(top, #ff7d66 0, #ff7d66 50%, tomato 51%, tomato 100%);
  background-image: linear-gradient(top, #ff7d66 0%, #ff7d66 50%, #ff6347 51%, #ff6347 100%);
  border: 1px solid tomato;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 1px #ff8e7a, 0 5px 0 #e02200, 0 8px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 0 1px #ff8e7a, 0 5px 0 #e02200, 0 8px 5px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  display: block;
  font-size: .75em;
  margin-bottom: 2em;
  padding: 0.7em 1.5em;
  position: relative;
  text-shadow: 0 -1px 0 #e02200;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }
  button:hover {
    background-image: -moz-linear-gradient(top, #ff8e7a 0, #ff8e7a 50%, tomato 51%, tomato 100%);
    background-image: -webkit-linear-gradient(top, #ff8e7a 0, #ff8e7a 50%, tomato 51%, tomato 100%);
    background-image: linear-gradient(top, #ff8e7a 0%, #ff8e7a 50%, #ff6347 51%, #ff6347 100%); }
  button:active {
    -webkit-box-shadow: inset 0 0 0 1px #ff8e7a, 0 1px 0 #e02200, 0 2px 2px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 0 0 1px #ff8e7a, 0 1px 0 #e02200, 0 2px 2px rgba(0, 0, 0, 0.35);
    position: relative;
    top: 4px; }

/* ================================================== */
.review-score {
  color: tomato;
  display: block;
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  bottom: 60px;
  right: 40px; }

.byline a {
  color: tomato; }

a.img-block {
  background: rgba(0, 0, 0, 0.55);
  display: block;
  height: 100%;
  width: 100%; }

.bb-review-card {
  -webkit-background-position: center !important;
  background-position: center;
  -webkit-background-size: cover !important;
  background-size: cover;
  border-top: 3px solid tomato;
  display: block;
  float: left;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  height: 350px;
  width: 240px; }
  .bb-review-card .meta {
    padding: 5%;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%; }
    .bb-review-card .meta h2 {
      font-size: 1.75em;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5), 2px 2px 0 rgba(0, 0, 0, 0.5), 3px 3px 0 rgba(0, 0, 0, 0.5); }
      .bb-review-card .meta h2 a {
        color: #fff; }
    .bb-review-card .meta .byline {
      font-size: .8em;
      font-style: italic;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
