@mixin button($color-button, $color-button-text, $border-radius) {

  // Firefox
  background-image: -moz-linear-gradient( top,
                    lighten($color-button, 6) 0,
                    lighten($color-button, 6) 50%,
                    $color-button 51%,
                    $color-button 100%);
  // Webkit
  background-image: -webkit-linear-gradient( top,
                    lighten($color-button, 6) 0,
                    lighten($color-button, 6) 50%,
                    $color-button 51%,
                    $color-button 100%);
  // Native
  background-image: linear-gradient( top,
                    lighten($color-button, 6) 0,
                    lighten($color-button, 6) 50%,
                    $color-button 51%,
                    $color-button 100% );

  border: 1px solid $color-button;
  border-radius: $border-radius;
  -webkit-box-shadow: inset 0 0 0 1px lighten($color-button, 10),
                      0 5px 0 darken($color-button, 20),
                      0 8px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 0 0 1px lighten($color-button, 10),
                      0 5px 0 darken($color-button, 20),
                      0 8px 5px rgba(0,0,0,.25);
  color: $color-button-text;
  cursor: pointer;
  display: block;
  font-size: .75em;
  margin-bottom: 2em;
  padding: .7em 1.5em;
  position: relative;
  text-shadow: 0 -1px 0 darken($color-button, 20);
  -webkit-transition: all .1s;
          transition: all .1s;

  &:hover {
    // Firefox
    background-image: -moz-linear-gradient( top,
                      lighten($color-button, 10) 0,
                      lighten($color-button, 10) 50%,
                      $color-button 51%,
                      $color-button 100%);
    // Webkit
    background-image: -webkit-linear-gradient( top,
                      lighten($color-button, 10) 0,
                      lighten($color-button, 10) 50%,
                      $color-button 51%,
                      $color-button 100%);
    // Native
    background-image: linear-gradient( top,
                      lighten($color-button, 10) 0,
                      lighten($color-button, 10) 50%,
                      $color-button 51%,
                      $color-button 100% );
  }

  &:active {
    -webkit-box-shadow: inset 0 0 0 1px lighten($color-button, 10),
                        0 1px 0 darken($color-button, 20),
                        0 2px 2px rgba(0,0,0,.35);
            box-shadow: inset 0 0 0 1px lighten($color-button, 10),
                        0 1px 0 darken($color-button, 20),
                        0 2px 2px rgba(0,0,0,.35);
    position: relative;
    top: 4px;
  }
}
