@import "reset";
@import "clearfix";
/* ================================================== */

body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4;
}
h2 {
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: .5em;
}
a { text-decoration: none; }

.fpo {
  border: 1px dotted #ccc;
  margin: 2em auto;
  max-width: 1000px;
  padding: 2em;
  width: 75%;
}
.full-wrap { width: 100%; }
.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 75%;
}

.center { text-align: center; }

@include clearfix;

/* ================================================== */
@import "nav";


/* ================================================== */

@import "button";

button {
  @include button(tomato, #fff, 4px);
}

/* ================================================== */

@import "bb-review-card";
.bb-review-card {
  @include bb-review-card(#000, tomato);
}